
<div cg-busy="{promise:mainControlPromise,message:'Please Wait...',backdrop:true}"></div>
<div id="table-wrapper">
    <div id="table-scroll">
        <table class="sense">
            <thead>
                <tr>
                    <th class="text">Sl. No</th>
                    <th class="text">Film Name</th>
                    <th class="text">Characters</th>
                </tr>
            </thead>
            <tbody>
                <tr class="" ng-repeat="item in filmsData track by $index">
                    <td>
                        {{ $index +1}}
                    </td>
                    <td>
                        <span ng-click="showCharacters();">{{ item.title}}</span>
                    </td>
                    <td>
                        <table ng-show="showChar">
                            <tr ng-repeat="elem in item.characters track by $index">
                                <td>
                                    {{elem}}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>